In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

#criei um df contendo de 5 linhas e 4 coluneas, onde seus valores serão preenchidos aleatoriamente
df = pd.DataFrame(randn(5,4), index = ['A','B','C','D','F'], columns = ['Price','date', 'brand', 'profit'])
df

      Price      date     brand    profit
A  1.449313  1.299423  0.534025  1.254572
B -0.217559 -1.030891  0.195701 -0.128715
C  0.076506  0.469138 -0.036342 -0.011546
D  0.283653  0.470595 -1.844096  0.416239
F -1.454132  0.203074  0.403666 -0.576112

In [3]:
# seleçãor em linhas iloc, loc
#quando uso o loc, eu posso especificar a linha que quero selecionar, 
# nesse caso ele pega os valores das colunas e trtasnforma em series
#posso ums lista de indices
df.loc[['A', 'B']]
df.loc['A']

Price     1.449313
date      1.299423
brand     0.534025
profit    1.254572
Name: A, dtype: float64

In [4]:
#a função iloc funciona utilizando valores de linhas e colunas, tipo uma indexação de string
#posso passar o intervalor de linha primeiro, em seguira o intervalo das colunas
df.iloc[0:1, 0:2]

      Price      date
A  1.449313  1.299423

In [ ]:
#seleção condicional
#se eu eu passar somente um df > 0, ele vai retornar uma tabela booleana, do jeito seguir ele retorna um df
#nesse df os valores false, serão NaN
df[df > 0]

      Price      date     brand    profit
A  1.449313  1.299423  0.534025  1.254572
B       NaN       NaN  0.195701       NaN
C  0.076506  0.469138       NaN       NaN
D  0.283653  0.470595       NaN  0.416239
F       NaN  0.203074  0.403666       NaN

In [ ]:
#selecionando os eles de uma coluna com condicional
#ele retorna os indices (linhas) em que a condição nao atende
df[df['profit'] > 0]

      Price      date     brand    profit
A  1.449313  1.299423  0.534025  1.254572
D  0.283653  0.470595 -1.844096  0.416239

In [7]:
df

      Price      date     brand    profit
A  1.449313  1.299423  0.534025  1.254572
B -0.217559 -1.030891  0.195701 -0.128715
C  0.076506  0.469138 -0.036342 -0.011546
D  0.283653  0.470595 -1.844096  0.416239
F -1.454132  0.203074  0.403666 -0.576112

In [12]:
#usando mais de uma seleção
#obs, no pandas os operadores and == & e or == |

#colocamos cada condição entre paresentes

df[(df['Price'] > 0) | ( df['profit'] > 0)]

      Price      date     brand    profit
A  1.449313  1.299423  0.534025  1.254572
C  0.076506  0.469138 -0.036342 -0.011546
D  0.283653  0.470595 -1.844096  0.416239