In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [ ]:
#criei um df contendo de 5 linhas e 4 coluneas, onde seus valores serão preenchidos aleatoriamente
df = pd.DataFrame(randn(5,4), index = ['A','B','C','D','F'], columns = ['Price','date', 'brand', 'profit'])
df

      Price      date     brand    profit
A -0.102353  0.390525  1.725532 -0.733659
B -0.686711  1.229652 -3.026432 -0.177705
C -0.387002 -0.639270  0.868014 -1.027530
D -0.920299  0.672535  1.074852 -0.797856
F -1.109154  0.001664  0.582928 -1.050969

In [ ]:
#selecionando com o operador []
#nesse caso seleciona a coluna

df['Price']
#aqui me retorna so uma series

#posso passar uma lista de colunas
df[['Price', 'date']]
#repare que dessa forma, retorna um data frame

      Price      date
A -0.102353  0.390525
B -0.686711  1.229652
C -0.387002 -0.639270
D -0.920299  0.672535
F -1.109154  0.001664

In [21]:
#criando uma coluna
df['new'] = df['Price']
df

      Price      date     brand    profit       new
A -0.102353  0.390525  1.725532 -0.733659 -0.102353
B -0.686711  1.229652 -3.026432 -0.177705 -0.686711
C -0.387002 -0.639270  0.868014 -1.027530 -0.387002
D -0.920299  0.672535  1.074852 -0.797856 -0.920299
F -1.109154  0.001664  0.582928 -1.050969 -1.109154

In [23]:
#apagando uma coluna, preciso passar o eixo. 1 = coluna, 0= linha
df.drop('new', axis=1, inplace= True)


#OBS: o pandas nunca altera o df original, ele altera uma cópia e te entrega para vc trabalhar com ela,
#prova disso é se vc der um df apos ter inserido e depois retirado, ele vai voltar o df com a coluna inserida ainda

#se quiser alterar o df original, deve colocar o metodo inplace
df

      Price      date     brand    profit
A -0.102353  0.390525  1.725532 -0.733659
B -0.686711  1.229652 -3.026432 -0.177705
C -0.387002 -0.639270  0.868014 -1.027530
D -0.920299  0.672535  1.074852 -0.797856
F -1.109154  0.001664  0.582928 -1.050969

In [ ]:
# seleçãor em linhas iloc, loc
#quando uso o loc, eu posso especificar a linha que quero selecionar, 
# nesse caso ele pega os valores das colunas e trtasnforma em series
#posso ums lista de indices
df.loc[['A', 'B']]
df.loc['A']

Price    -0.102353
date      0.390525
brand     1.725532
profit   -0.733659
Name: A, dtype: float64

In [32]:
#a função iloc funciona utilizando valores de linhas e colunas, tipo uma indexação de string
#posso passar o intervalor de linha primeiro, em seguira o intervalo das colunas
df.iloc[0:1, 0:2]

      Price      date
A -0.102353  0.390525

In [ ]:
df.iloc[:-1,2:]

      brand    profit
A  1.725532 -0.733659
B -3.026432 -0.177705
C  0.868014 -1.027530
D  1.074852 -0.797856